<footer class="footer">
  <p>Denne siden ble bygget med <a href="https://github.com/bjornna/antora-ui-bifrost">Antora Bifrost UI</a> based on the <a href="https://gitlab.com/antora/antora-ui-default">Antora default UI.</a></p>
  <p>Kildekoden for dette UI er lisensiert under betingelsene av MPL-2.0 lisensen.</p>
</footer>
