<header class="header">
  <nav class="navbar">
    <img class="navbar-logo" src="{{uiRootPath}}/img/rivero_logo.png" alt="rivero logo">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="../../hub/latest/index.html">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="../../amiko/latest/dispute-process.html">Amiko</a>
            <a class="navbar-item" href="../../kajo/latest/index.html">Kajo</a>
            <a class="navbar-item" href="../../venko/latest/index.html">Venko</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Infrastructure</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="../../cucumber/latest/cucumber.html">Testado - Cucumber</a>
            <a class="navbar-item" href="../../antora/latest/contributing.html">Biblbio - Antora</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">General</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="../../tranquility/latest/index.html">Tranquility</a>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <input id="search-input" type="text" placeholder="Search docs">
      </div>
    </div>
  </nav>
</header>
