.red {
  color: black;
  background-color: #ffbfbf;
}

.orange {
  color: black;
  background-color: #ffb89e;
}

.yellow {
  color: black;
  background-color: #ffea99;
}

.lime {
  color: black;
  background-color: #cfc;
}

.gray {
  color: black;
  background-color: #d3d3d3;
}
