.red {
  color: black;
  background-color: #ffbfbf;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 4px;
  padding-bottom: 4px;
}
.yellow {
  color: black;
  background-color: #ffea99;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 4px;
  padding-bottom: 4px;
}
.lime {
  color: black;
  background-color: #ccffcc;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 4px;
  padding-bottom: 4px;
}
