@font-face {
    font-family: "Helvetica Light";
    font-style: normal;
    font-weight: 400;
    src:
      local("Helvetica Light"),
      local("Helvetica-Light"),
      url(~typeface-helvetica/files/HelveticaLTStd-Light.woff2) format("woff2"),
      url(~typeface-helvetica/files/HelveticaLTStd-Light.woff) format("woff");
  }
  
  @font-face {
    font-family: "Helvetica Roman";
    font-style: normal;
    font-weight: 500;
    src:
      local("Helvetica Roman"),
      local("Helvetica-Roman"),
      url(~typeface-helvetica/files/HelveticaLTStd-Roman.woff2) format("woff2"),
      url(~typeface-helvetica/files/HelveticaLTStd-Roman.woff) format("woff");
  }